<div style="margin-left: 10px;">
    <h2>This is about page </h2>
    <h4>Introduction</h4>
    <p>Hello, my name is Roma.</p>
    
    <h4>Contact</h4>
    <p>You can reach me via email at judi@tet.com.</p>
    
    <img src="<%= imagePath %>" alt="My Image" >
</div>