<div style="margin-left: 10px;">
    <h1>Delete</h1>
    <% if (berhasil) { %>
        <p>Contact dengan nama "<%= name %>"" berhasil dihapus.</p>
    <% } else { %>
        <p>Contact gagal dihapus.</p>
    <% } %>
</div>